beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
confusable-homoglyphs==2.0.2
defusedxml==0.5.0
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11.5
django-allauth==0.33.0
django-bulma==0.3.0
gunicorn==19.7.1
idna==2.6
lxml==4.0.0
oauthlib==2.0.4
psycopg2==2.7.3.1
python-dateutil==2.7.2
python3-openid==3.1.0
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
static3==0.7.0
urllib3==1.24.2
